body {
  font-family: Arial;
  background: #f5f5f5;
  text-align: center;
  font-style: italic;
}

.container {
  display: flex;
  height: 100vh;
}



.right {
  margin-left:60px;

}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.grid button {
  padding: 12px;
  cursor: pointer;
  border-width: 10px;
}

.alpaca-preview {
  position: relative;
  display:flex;
  justify-content:left;
  width: 450px;
  height: 450px;
  margin-left: 40px;
}

.alpaca-preview img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#randomBtn{
  margin-top:70px;
  margin-right:40px;
  border-radius: 5px;
}

#downloadBtn{
  border-radius: 5px;
}
